################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nunit-generate-list/nunit-generate-list/bin
